body {
  margin:0px;
  font-family:verdana;
  background-color: #000;
  color: #F9FBE7;
  font-size:14px;
}

#three-container {
  width: 90%;
  height: 76%;
  margin: 0 auto;
}

#messages {
  width: 60%;
  height: 80px;
  margin: 12px 22px 0px 22px;
}

.log-history {
  margin: 4px;
  height: 60px;
  overflow-y: scroll;
}

footer {
  margin: 8px 22px;
}

footer a {
  color: #F9FBE7;
}
